.checkout-card {
  padding: 8px 10px 8px 12px;
  background-color: $background;
  border-radius: 4px;

  .checkout-header {
    position: relative;
    margin-bottom: 8px;

    .checkout-title {
      @include text-style(16, $primary);
      padding-right: 20px;
      font-weight: 400;
    }

    .close-btn {
      @include flexbox;
      position: absolute;
      top: 2px;
      right: -4px;
      width: 20px;
      height: 20px;

      &:active,
      &:hover {
        i {
          opacity: 0.5;
        }
      }

      i {
        font-size: 20px;
        color: $secondary;
        transition: opacity 200ms ease-in-out;
      }
    }
  }

  .checkout-footer {
    @include flexbox(between);

    .select-group {
      .form-select {
        @include text-style(14);
        width: 72px;
        height: 24px;
        padding: 0 22px 0 8px;
        line-height: 22px;
      }

      .ic-caret {
        right: 0;
        font-size: 20px;
      }
    }
  }
}
