.gnb-icon-btn {
  $badge-size: 16px;
  @include inline-flexbox;
  position: relative;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: $secondary;
  border-radius: 50%;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  &:hover,
  &:active {
    color: $white;
    background-color: $blue;
  }

  &.menu-btn {
    color: $blue;
  }

  .ic-cart {
    margin-top: 2px;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    height: $badge-size;
    min-width: $badge-size;
    padding: 0 4px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $white;
    text-align: center;
    background-color: $red;
    border-radius: $badge-size/2;
  }
}
