.product-inquiry {
  .inquiry-empty {
    @include text-style(16, $secondary);
    padding: 48px 0;
    text-align: center;
  }
  @media screen and (max-width: $md-breakpoint - 1px) {
    padding-bottom: 0;

    .text-btn,
    .product-section-content {
      display: none;
    }

    &.is-open {
      padding-bottom: 20px;

      .text-btn,
      .product-section-content {
        display: block;
      }

      .chevron-btn {
        display: none;
      }
    }
  }

  @include responsive(T) {
    .inquiry-empty {
      padding: 28px 0;
    }
  }
}
