.search-history {
  $delete-btn-size: 32px;
  width: 100%;

  &-header {
    @include flexbox(between);
    margin-bottom: 8px;

    .search-history-title,
    button {
      @include text-style(13, $secondary);
      font-weight: 400;
    }

    button:hover,
    button:active {
      color: $primary;
    }
  }

  &-content {
    .search-history-item {
      position: relative;

      &:hover,
      &:active {
        background-color: $background;
      }

      a {
        @include text-style(16, $primary);
        display: block;
        width: 100%;
        padding: 10px $delete-btn-size 10px 8px;
      }

      button {
        @include inline-flexbox;
        position: absolute;
        top: 6px;
        right: 0;
        width: $delete-btn-size;
        height: $delete-btn-size;
        font-size: 16px;
        color: $tertiary;

        &:hover,
        &:active {
          color: $primary;
        }
      }
    }

    .no-history {
      @include text-style(14, $tertiary);
      padding: 10px 16px;
    }
  }
}
