* {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

// reset normalize.css style
h1 {
  margin: 0;
}

// reset anchor style
a {
  color: inherit;
  text-decoration: none;
}

//reset form elements style
button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//enhance the UX of buttons and a elements.
a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

//reset list elements default style
ul,
ol {
  padding-left: 0;
  list-style: none;
}

//Change the default font-style of address element
address {
  font-style: normal;
}
