.gnb {
  $gnb-height-sm: 50px;

  width: 100%;
  border-bottom: 1px solid $border;

  &-wrap {
    @include flexbox(between);
    position: relative;
    height: $gnb-height-sm - 1px;
  }

  &-title {
    @include pos-center;

    a {
      display: block;

      &:active {
        opacity: 0.4;
      }
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  .search-btn {
    margin-right: 4px;
  }

  @include responsive(T) {
    height: 80px;

    &-wrap {
      height: 80px;
    }

    &-left,
    &-right {
      @include flexbox(start);
    }

    &-title {
      position: static;
      margin-right: 32px;
      transform: translate(0);

      img {
        height: 24px;
      }
    }

    &-button-group {
      @include flexbox(start);
      margin-right: 24px;

      a,
      button,
      .search-btn {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .post-btn {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    .search-input-group {
      width: 264px;
      margin-right: 24px;
    }
  }
}
