.gnb {
  $gnb-height-sm: 50px;

  width: 100%;
  border-bottom: 1px solid $border;

  &-wrap {
    @include flexbox(between);
    position: relative;
    height: $gnb-height-sm - 1px;
  }

  &-title {
    @include pos-center;

    a {
      display: block;

      &:active {
        opacity: 0.4;
      }
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  &-icon-btn {
    @include inline-flexbox;
    width: 32px;
    height: 32px;

    &:active {
      opacity: 0.4;
    }

    i {
      font-size: 24px;
      color: $secondary;
    }

    &.menu-btn {
      i {
        color: $blue;
      }
    }
  }

  &-button-group {
    .search-btn {
      margin-right: 4px;
    }
  }

  @include responsive(T) {
    height: 80px;

    &-wrap {
      height: 80px;
    }

    &-left,
    &-right {
      @include flexbox(start);
    }

    &-title {
      position: static;
      margin-right: 32px;
      transform: translate(0);

      img {
        height: 24px;
      }
    }
  }
}
