.gnb {
  $gnb-height-sm: 50px;
  $gnb-height-md: 80px;
  $button-margin-md: 8px;

  width: 100%;
  border-bottom: 1px solid $border;

  &-wrap {
    @include flexbox(between);
    position: relative;
    height: $gnb-height-sm - 1px;
  }

  &-title {
    @include pos-center;

    a {
      display: block;

      &:active {
        opacity: 0.4;
      }
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  &-button-group {
    @include flexbox(start);

    .gnb-auth {
      margin-left: 16px - $button-margin-md;

      a {
        @include text-style(14, $secondary);
        font-weight: 700;
        transition: color 200ms ease-in-out;

        &:hover,
        &:active {
          color: $blue;
        }

        &:first-child {
          margin-right: 12px;
        }
      }
    }
  }

  .search-btn {
    margin-right: 4px;
  }

  @include responsive(T) {
    &-wrap {
      height: $gnb-height-md - 1px;
    }

    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);
    }

    &-title {
      position: static;
      margin-right: 32px;
      transform: translate(0);

      img {
        height: 24px;
      }
    }

    &-button-group {
      margin-right: 24px;

      .gnb-icon-btn {
        margin-right: $button-margin-md;

        &:last-child {
          margin-right: 0;
        }
      }

      .avatar-32 {
        border: 3px solid transparent;
        transition: border-color 200ms ease-in-out;

        &:hover,
        &:active {
          border-color: $blue;
        }
      }
    }

    .post-btn {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    .search-input-group {
      width: 264px;
      margin-right: 24px;
    }
  }
}
