.sidebar {
  @include no-scrollbar;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: 240px;
  height: 100vh;
  padding: 32px 20px;
  overflow-y: auto;
  background-color: $white;
  overscroll-behavior: contain;
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out,
    visibility 300ms ease-in-out;
  opacity: 0;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &-header {
    .logo {
      @include flexbox(start);

      img {
        display: block;
        width: auto;
        height: 20px;
      }
    }

    .sidebar-user,
    .sidebar-auth {
      @include flexbox(start);
      height: 88px;
    }

    .sidebar-user {
      padding: 0 12px;

      a {
        @include flexbox(start);
        width: 100%;

        &:active {
          opacity: 0.4;
        }

        .avatar-24 {
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 8px;
        }

        .username {
          @include text-style(14, $primary);
          @include truncate;
          flex-grow: 1;
        }
      }
    }

    .sidebar-auth {
      .button-40 {
        width: 84px;

        &:first-child {
          margin-right: 8px;
        }
      }
    }
  }

  &-user-menu {
    margin-top: 16px;

    .sidebar-menu-item {
      &.is-active,
      &:active {
        a {
          color: $blue;
        }
      }

      a {
        @include text-style(14, $primary);
        display: block;
        padding: 6px 12px;
      }
    }
  }
}
